.category-card {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  text-align: center;
}

.category-card:hover {
  transform: scale(1.02);
}

.category-card img {
  width: 100%;
  height: auto;
  display: block;
}
