
.button-header {
  width: max-content !important;
  text-align: center !important;
  margin-left: 100px !important;
  background-color: #009900!important;
  color: white !important;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none !important;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.button-header:hover {
  background-color: #009900 !important;
}
