.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.95rem;
  color: #555;
}

.card-body p {
  margin-bottom: 0.5rem;
}
.edit-btn{
    background-color: transparent !important;
    color: #009900 !important;
    border: 1px solid #009900 !important;
}